:root {
  --primary:#f00946;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.btn--primary {
  /*background-color: var(--primary);*/
  color: whitesmoke;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color:#f00946;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--mobile {
  text-align: center;
  border-radius: 4px;
  width: 80%;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: #f00946;
  padding: 14px 20px;
  border: 1px solid#f00946;
  transition: all 0.3s ease-out;
}

.btn--wide {
  padding: 0;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover,
.btn--mobile:hover {
  transition: all 0.3s ease-out;
  background: linear-gradient(45deg, #5b6777 0%, #7f9cc9 100%);
  color: #242424;
}

.btn--wide:hover {
  background: linear-gradient(45deg, #5b6777 0%, #7f9cc9 100%);
  color: #f00946;
  transition: all 0.2s ease-out;
}

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 8px 16px;
  height: 100%;
  width: 100%;
}

.primary {
  background-color: #242424;
  background: linear-gradient(45deg, #5b6777 0%, #7f9cc9 100%);
  color: #f00946;
  border: none;
}

.primary:hover {
  background-color: #fff;
  background: linear-gradient(45deg, #5b6777 0%, #7f9cc9 100%);
  color: #242424;
  border: none;
}

.red {
  background-color: #f00946;
  color: #fff;
  border: none;
}

.green {
  background: #25ce4a;
  color: #fff;
  border: none;
}

.green:hover {
  background-color: #242424;
}

.blue {
  background-color: #276afb;
  color: #fff;
  border: none;
}

@media screen and (max-width: 479px) {
  .btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .btn--primary {
    /*background-color: var(--primary);*/
    color: whitesmoke;
    border: 1px solid var(--primary);
  }
  
  .btn--outline {
    background-color: transparent;
    color:#f00946;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 14px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 16px;
  }
  
  .btn--mobile {
    text-align: center;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #f00946;
    padding: 10px 16px;
    border: 1px solid#f00946;
    transition: all 0.3s ease-out;
  }
  
  .btn--wide {
    padding: 0;
    font-size: 14px;
  }
  
  .btn--large:hover,
  .btn--medium:hover,
  .btn--mobile:hover {
    transition: all 0.3s ease-out;
    background: linear-gradient(45deg, #5b6777 0%, #7f9cc9 100%);
    color: #242424;
  }
  
  .btn--wide:hover {
    background: linear-gradient(45deg, #5b6777 0%, #7f9cc9 100%);
    color: #f00946;
    transition: all 0.2s ease-out;
  }
  
  .btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 16px;
    height: 100%;
    width: 100%;
  }
  
  .primary {
    background-color: #242424;
    background: linear-gradient(45deg, #5b6777 0%, #7f9cc9 100%);
    color: #f00946;
    border: none;
  }
  
  .primary:hover {
    background-color: #fff;
    background: linear-gradient(45deg, #5b6777 0%, #7f9cc9 100%);
    color: #242424;
    border: none;
  }
  
  .red {
    background-color: #f00946;
    color: #fff;
    border: none;
  }
  
  .green {
    background: #25ce4a;
    color: #fff;
    border: none;
  }
  
  .green:hover {
    background-color: #242424;
  }
  
  .blue {
    background-color: #276afb;
    color: #fff;
    border: none;
  }
}