.home__hero-section {
  color: #fff;
  padding: 160px 0;
}

.home__hero-row {
  align-items: center;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.home__hero-text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

.top-line {
  color: #f00946;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}

.dark {
  color: #1c2237;
}

.darkBg {
  background-color:#232429;
}

.home__hero-subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

.home__hero-img-wrapper {
  max-width: 555px;
}

.home__hero-img {
  max-width: 100vw;
  margin-top: 0;
  margin-right: 0;
  margin-left: 10px;
  padding-right: 0;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 300px;
    padding-left: 30px;
  }
  .d1 {
    --color-text: #fff;
    --color-bg: #000;
    --glitch-width: 100vw;
    --glitch-height: 100vh;
    --gap-horizontal: 10px;
    --gap-vertical: 0;
    --time-anim: 4s;
    --delay-anim: 2s;
    --blend-mode-1: none;
    --blend-mode-2: none;
    --blend-mode-3: none;
    --blend-mode-4: none;
    --blend-mode-5: overlay;
    --blend-color-1: transparent;
    --blend-color-2: transparent;
    --blend-color-3: transparent;
    --blend-color-4: transparent;
    --blend-color-5: #af4949;
  }

  .home__hero-text-wrapper {
    max-width: 260px;
    padding-top: 0;
    padding-bottom: 60px;
    text-align: center;
  }
  
    .home__hero-row {
      align-items: center;
    }
    
    .row {
      display: flex;
      margin-right: 0;
      margin-bottom: 300px;
      margin-left: 0;
      flex-wrap: wrap;
      align-content: stretch;
    }
    .container {
      padding-right: 15px;
      padding-left: 15px;
    }
  
    .home__hero-text-wrapper {
      padding-bottom: 10px;
    }
  
    .col {
      max-width: 100%;
      flex-basis: 75%;
    }
  
    .home__hero-img {
      max-height: 60vh;
      max-width: 50vw;
      padding-right: 0;
      padding-left: 0;
    }
    .message {
      display: block;
    }
    .content {
      flex-direction: column;
      height: auto;
      min-height: 0;
    }
    .content--fixed {
      position: relative;
      z-index: 000;
      display: block;
      padding: 0.85em;
    }
    .codrops-header {
      flex-direction: column;
      align-items: center;
      align-self: center;
    }
    .codrops-header__title {
      font-weight: bold;
      padding-bottom: 0.25em;
      text-align: center;
    }
    .github {
      display: block;
      margin: 1em auto;
    }
    .content--top .github {
        margin: 1em 0;
    }
    .codrops-links {
      margin: 0;
    }
    .demos {
      text-align: center;
    }
    .demo {
      margin: 0 0.5em;
    }
  }

@media screen and (max-width: 768px) {

  .d1 {
    --color-text: #fff;
    --color-bg: #000;
    --glitch-width: 100vw;
    --glitch-height: 80vh;
    --gap-horizontal: 10px;
    --gap-vertical: 5px;
    --time-anim: 4s;
    --delay-anim: 2s;
    --blend-mode-1: none;
    --blend-mode-2: none;
    --blend-mode-3: none;
    --blend-mode-4: none;
    --blend-mode-5: overlay;
    --blend-color-1: transparent;
    --blend-color-2: transparent;
    --blend-color-3: transparent;
    --blend-color-4: transparent;
    --blend-color-5: #af4949;
}

.home__hero-text-wrapper {
  max-width: 360px;
  padding-top: 0;
  padding-bottom: 60px;
}

  .home__hero-row {
    align-items: center;
  }
  
  .row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-content: stretch;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .home__hero-text-wrapper {
    padding-bottom: 10px;
  }

  .col {
    max-width: 75%;
    flex-basis: 100%;
  }

  .home__hero-img {
    max-height: 25%;
    max-width: 50%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 5px;
    padding-right: 0;
  }
	.message {
		display: block;
	}
	.content {
		flex-direction: column;
		height: auto;
		min-height: 0;
	}
	.content--fixed {
		position: relative;
		z-index: 1000;
		display: block;
		padding: 0.85em;
	}
	.codrops-header {
		flex-direction: column;
		align-items: center;
		align-self: center;
	}
	.codrops-header__title {
		font-weight: bold;
		padding-bottom: 0.25em;
		text-align: center;
	}
	.github {
		display: block;
		margin: 1em auto;
	}
	.content--top .github {
	    margin: 1em 0;
	}
	.codrops-links {
		margin: 0;
	}
	.demos {
		text-align: center;
	}
	.demo {
		margin: 0 0.5em;
	}
}


@media screen and (max-width: 479px) {

  .d1 {
    --color-text: #fff;
    --color-bg: #000;
    --glitch-width: 100vw;
    --glitch-height: 80vh;
    --gap-horizontal: 10px;
    --gap-vertical: 5px;
    --time-anim: 4s;
    --delay-anim: 2s;
    --blend-mode-1: none;
    --blend-mode-2: none;
    --blend-mode-3: none;
    --blend-mode-4: none;
    --blend-mode-5: overlay;
    --blend-color-1: transparent;
    --blend-color-2: transparent;
    --blend-color-3: transparent;
    --blend-color-4: transparent;
    --blend-color-5: #af4949;
}

.home__hero-text-wrapper {
  max-width: 75vw;
  padding-top: 10px;
  padding-bottom: 60px;
}

  .home__hero-row {
    align-items: center;
  }
  
  .row {
    flex-wrap: wrap;
    align-content: center;
  }
  .container {
    padding-right: 50px;
    padding-left: 50px;

  }

  .home__hero-text-wrapper {
    padding-bottom: 10px;
  }

  .col {
    max-width: 100vw;
    flex-basis: 100vh;
  }

  .home__hero-img {
    max-height: 35vh;
    max-width: 75vw;
  }
	.message {
		display: block;
	}
	.content {
		flex-direction: column;
		height: auto;
		min-height: 0;
	}
	.content--fixed {
		position: relative;
		z-index: 1000;
		display: block;
		padding: 0.85em;
	}
	.codrops-header {
		flex-direction: column;
		align-items: center;
		align-self: center;
	}
	.codrops-header__title {
		font-weight: bold;
		padding-bottom: 0.25em;
		text-align: center;
	}
	.github {
		display: block;
		margin: 1em auto;
	}
	.content--top .github {
	    margin: 1em 0;
	}
	.codrops-links {
		margin: 0;
	}
	.demos {
		text-align: center;
	}
	.demo {
		margin: 0 0.5em;
	}
}


